<section class="content">
    <div class="content-block">
        <div class="row clearfix">
            <div class="col col-12">
                <div class="card">
                    <div class="header">
                        <div class="w-100 d-flex justify-content-between">
                            <h2 class="ms-3">Subscriptions</h2>
                            <button class="icon-button" (click)="goBack()">
                                <i class="fa-solid fa-chevron-left"></i>
                            </button>
                        </div>
                    </div>
                    <div class="body">
                        <div class="row d-flex justify-content-end me-3">
                            <button mat-flat-button color="accent" class="btn ms-4 mb-4" type="button" (click)="newSubscriptionClicked()">New Subscription</button>
                        </div>
                        <div class="tableBody">
                            <div class="table-responsive">
                                <div class="row table-header">
                                    <div class="col col-1"></div>
                                    <div class="col col-3">Report</div>
                                    <div class="col col-3">Status</div>
                                    <div class="col col-3">Requested By</div>
                                    <div class="col col-2">Actions</div>
                                </div>
                                <div *ngFor="let subscription of subscriptionList;" class="row table-row m-0 border-bottom">
                                    <div class="row m-0">
                                        <div class="col col-1">
                                            <button type="button" class="btn icon-button-transparent" (click)="showHideApprovals($event, subscription.subscriptionId)">
                                                <i class="fa-solid fa-chevron-right"></i>
                                            </button>
                                        </div>
                                        <div class="col col-3" [title]="subscription.reportPath">
                                            {{subscription.reportPath}}
                                        </div>
                                        <div class="col col-3">
                                            {{approvalStatus[subscription.status]}}
                                        </div>
                                        <div class="col col-3">
                                            {{subscription.requesterName}}
                                        </div>
                                        <div class="col col-2">
                                            <button *ngIf="currentUserId === subscription.requesterId" type="button" class="btn icon-button-transparent" title="Delete Subscription" (click)="deleteClicked(subscription)">
                                                <i class="fa fa-trash tbl-fav-delete"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div [id]="'detail_'+subscription.subscriptionId" class="row detail-row hidden">
                                        <div class="table-responsive">
                                            <table class="table table-bordered nested-table">
                                                <thead>
                                                    <tr>
                                                        <td>Approved By</td>
                                                        <td>Status</td>
                                                        <td>Approval Level</td>
                                                        <td>Approved At</td>
                                                        <td>Comment</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let approver of approvalLevels">
                                                        <td>{{approver.approvalOfficerName}}</td>
                                                        <td>{{approvalStatus[approver.status]}}</td>
                                                        <td>{{approvalLevel[approver.approvalLevel]}}</td>
                                                        <td>{{approver.approvedAtUtc}}</td>
                                                        <td>{{approver.comment}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="subscriptionList.length == 0" class="w-100 p-2 text-center">
                                    No records found.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>