<section class="content">
    <div class="content-block">
        <div class="row clearfix">
            <div class="col col-12">
                <div class="card">
                    <div class="header">
                        <div class="w-100 d-flex justify-content-between">
                            <h2 class="ms-3">Subscriptions</h2>
                            <button class="icon-button" (click)="goBack()">
                                <i class="fa-solid fa-chevron-left"></i>
                            </button>
                        </div>
                    </div>
                    <div class="body">
                        <div class="row d-flex justify-content-end me-3">
                            <button mat-flat-button color="accent" class="btn ms-4 mb-4" type="button" (click)="newSubscriptionClicked()">New Subscription</button>
                        </div>
                        <div class="tableBody">
                            <div class="table-responsive">
                                <div class="row table-header">
                                    <div class="col col-3">Report</div>
                                    <div class="col col-3">Status</div>
                                    <div class="col col-3">Requested By</div>
                                    <div class="col col-3">Actions</div>
                                </div>
                                <div *ngFor="let subscription of subscriptionList;" class="row table-row m-0 border-bottom">
                                    <div class="row m-0">
                                        <div class="col col-3" [title]="subscription.report.path">
                                            <button type="button" class="btn icon-button-transparent" (click)="toggleDetails($event, subscription.subscriptionId)">
                                                <i class="fa-solid fa-chevron-right"></i>
                                            </button>
                                            {{subscription.report.name}}
                                        </div>
                                        <div class="col col-3">
                                            {{approvalStatus[subscription.status]}}
                                        </div>
                                        <div class="col col-3">
                                            {{subscription.requesterName}}
                                        </div>
                                        <div class="col col-3">
                                            <button *ngIf="currentUserId === subscription.requesterId" type="button" class="btn icon-button-transparent" title="Delete Subscription" (click)="deleteClicked(subscription)">
                                                <i class="fa fa-trash tbl-fav-delete"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div [id]="'detail_'+subscription.subscriptionId" class="row detail-row hidden">
                                        <div *ngFor="let approver of subscription.approvalLevels" class="row">
                                            <div class="col col-6">
                                                <div class="row">
                                                    <div class="col col-2">Approved By:</div>
                                                    <div class="col col-4">{{approver.approvalOfficerName}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col col-2">Status:</div>
                                                    <div class="col col-4">{{approvalStatus[approver.status]}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col col-2">Approval Level:</div>
                                                    <div class="col col-4">{{approvalLevel[approver.approvalLevel]}}</div>
                                                </div>
                                            </div>
                                            <div class="col col-6">
                                                <div class="row">
                                                    <div class="col col-2">Approved At:</div>
                                                    <div class="col col-4">{{approver.approvedAtUtc}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col col-2">Comment:</div>
                                                    <div class="col col-4">{{approver.comment}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="subscriptionList.length == 0" class="w-100 p-2 text-center">
                                    No records found.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>