.vertical-radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.number-input {
    width: 80px;
}

.time-label {
    margin-top: 30px;
}

.card {
    padding: 30px;
}

.content-block {
    margin-top: 85px;
}

.custom-input {
    ::ng-deep .mat-mdc-form-field-subscript-wrapper{
        margin-bottom: -1.25em;
    }
}

.number-input {
    width: 100px;
}

input {
    box-shadow: none !important;
}

.readonly {
    input[type="text"], input[type="email"], input[type="number"] {
        width: 100%;
        height: 46px;
    }

    label {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px 10px;

        input[type="radio"] {
            margin:  4px 15px 3px 0px;
        }
    }
}