.btn {
    width: unset;
}

.row,
.col {
    margin: 0;
    padding: 0;
}

.table-header {
    background-color: rgb(230, 230, 230);
    font-weight: bold;
    padding: 10px 5px;
}

.nested-table  {
    thead td {
        background-color: rgb(230, 230, 230);
    }
    tbody td {
        font-weight: 300;
    }
}
// .detail-row {
//     .visble {
//         transition: max-height 0.25s ease-in;
//     }
//     .hidden {
//         transition: max-height 0.15s ease-out;
//     }
// }

.table-row {
    padding: 10px 20px;

    &:hover {
        background-color: rgb(255, 237, 203);
    }
}

.detail-row {
    &.visible {
        display: block;
    }

    &.hidden {
        display: none;
    }
}