<section class="content">
    <div class="content-block">
        <div class="row clearfix">
            <div class="col col-12">
                <div class="card">
                    <div class="header">
                        <div class="w-100 d-flex justify-content-between">
                            <h2 class="ms-3">Approval Pending Subscriptions</h2>
                            <button class="icon-button" (click)="goBack()">
                                <i class="fa-solid fa-chevron-left"></i>
                            </button>
                        </div>
                    </div>
                    <div class="body">
                        <div class="tableBody">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Report</th>
                                            <th>Email</th>
                                            <th>Status</th>
                                            <th>Requested By</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="subscriptionList.length === 0">
                                            <td colspan="6" class="text-center font-italic">
                                                No records found.
                                            </td>
                                        </tr>
                                        <tr *ngFor="let subscription of subscriptionList;">
                                            <td class="table-img" [title]="subscription.report.path">{{subscription.report.name}}</td>
                                            <td><a href="mailto:{{subscription.email}}">{{subscription.email}}</a></td>
                                            <td>{{ approvalStatus[subscription.status]}}</td>
                                            <td>{{subscription.requesterName}}</td>
                                            <td>
                                                <button type="button" class="tbl-action-btn" title="Approve Subscription" (click)="approveClicked(subscription)">
                                                    <i class="fas fa-check fs-5 tbl-fav-approve"></i>
                                                </button>
                                                <button type="button" class="tbl-action-btn" title="Reject Subscription" (click)="rejectClicked(subscription)">
                                                    <i class="fas fa-times fs-5 tbl-fav-delete"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>